:root{
  --aside-section-width: 360px;
  --surface-color-1: #000000;
  --surface-color-2: #46d366;
  --background-color-1: #f0f2f5;
  --background-color-2: #999999;
  --surface-color: var(--surface-color-1);
  --background-color: var(--background-color-1)
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body, .app {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: 100%;
  height: 100%;
}

